---

# Sets up server with edx app that can be deployed behind an ELB.

- name: Bootstrap instance(s)
  hosts: app
  gather_facts: no
  become: True
  roles:
    - python

- name: Configure instance(s)
  hosts: app
  become: True
  gather_facts: True
  vars:
    migrate_db: "yes"
  roles:
    - role: swapfile
      SWAPFILE_SIZE: 4GB
    - aws
    - role: nginx
      nginx_sites:
      - certs
      - cms
      - lms
      - forum
      - xqueue
      nginx_default_sites:
      - lms
    - role: edxapp
      celery_worker: True
    - edxapp
    - oauth_client_setup
    - forum
    - role: notifier
    - role: xqueue
      update_users: True
    - certs
    - role: datadog
      when: COMMON_ENABLE_DATADOG
    - role: splunkforwarder
      when: COMMON_ENABLE_SPLUNKFORWARDER
    - role: newrelic
      when: COMMON_ENABLE_NEWRELIC
    - role: postfix_queue
      when: POSTFIX_QUEUE_EXTERNAL_SMTP_HOST != ''
